@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
.active {
  color: #ff0000;
  font-weight: bold;
}
.list-header li {
  padding: 0 30px;
  border-right: 1px #b44b22 solid;
}
h3 {
  font-size: 26px !important;
  font-weight: 700 !important;
  color: #b44b22;
}
h3:hover {
  color: #00bbb4;
}
h4 {
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #ffffff;
}
ol,
ul,
menu {
  list-style: disc !important;
}
.ant-tabs-nav-wrap {
  display: flex;
  justify-content: center;
}
.submenu {
  list-style: none !important;
  position: absolute;
  background-color: #fff;
  padding: 24px 5px;
  width: 200px;
  line-height: 40px;
  border-top: 3px solid #b44b22;
  transform: translateY(10px);
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  left: 0;
}
.submenu li {
  font-weight: 600;
  cursor: pointer;
  border: none !important;
}
